#blog{
    color: aqua;
    text-align: center;
    text-transform: capitalize;
    text-shadow: 2px 2px 2px rgb(186, 29, 183),-2px -2px 2px rgb(186, 29, 183);
    text-decoration: underline black;

}
body{
    background-image: url("../img/south.png");
    background-position: center;
    background-repeat: repeat;
    background-size:cover;
    background-attachment: fixed;
    backdrop-filter: blur(2px);

}
#name,h3{
    text-indent: 50px;
    color: cornsilk;
    text-align: left;
    text-shadow: 2px 2px 2px rgb(186, 29, 183),-2px -2px 2px rgb(186, 29, 183);
    text-decoration: underline red;

}
#intro{
    text-align: left;
    color: cornsilk;
    text-shadow: 2px 2px 2px rgb(186, 29, 183),-2px -2px 2px rgb(186, 29, 183);
    text-indent: 50px;
    text-decoration: underline red;
}
div p{

    text-transform: capitalize;
    text-indent: 30px;
    text-align: justify;
    color: cornsilk;
    text-shadow: 1px 1px 1px rgb(186, 29, 183);

}
.list,dd,dt{
    color: cornsilk;
    text-shadow: 1px 1px 1px rgb(186, 29, 183);


}
.end p{
    color: cornsilk;
    text-shadow: 1px 1px 1px rgb(186, 29, 183);
}