 * {
  margin: 0px;
  padding: 0px;
}
body {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #6994a8, #dfe0e5, #6994a8);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
main {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #215974;
  box-shadow: 0px 0px 2px;
  border-radius: 10px;
  backdrop-filter: blur(5px);
  animation: animate linear 2s infinite;
}
main:hover {
  animation: none;
  transition: ease 0.5s;
}
@keyframes animate {
  0% {
    box-shadow: 0px 0px 50px #215974;
  }
  25% {
    box-shadow: 0px 0px 50px #6994a8;
  }
  50% {
    box-shadow: 0px 0px 50px #dfe0e5;
  }
  75% {
    box-shadow: 0px 0px 50px #72798a;
  }
  100% {
    box-shadow: 0px 0px 50px #353f74;
  }
}
main .a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
}
main .a svg {
  border: 2px solid #6994a8;
  border-radius: 50%;
}
main .b {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
}
main .b .user-pass {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 25px;
  width: 230px;
  background-color: #6994a8;
  padding: 5px;
  margin-bottom: 20px;
  border: 1px solid #215974;
  box-shadow: 0px 0px 2px;
  border-radius: 5px;
}
main .b .user-pass input {
  height: 25px;
  width: 190px;
  border: none;
  outline: none;
  background-color: #6994a8;
}
main .b .user-pass button {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  margin-left: 5px;
}
main .b .user-pass button i {
  font-size: 25px;
  color: white;
}
#password button {
  margin-left: 10px;
}

main .c {
  margin: 20px 0px;
  width: 300px;
  display: flex;
  justify-content: space-around;
}
main .c .rem input,
label {
  text-transform: capitalize;
  cursor: pointer;
}
main .c .forgot a {
  text-decoration: none;
  text-transform: capitalize;
  color: black;
}
main .d button {
  height: 40px;
  width: 230px;
  margin-bottom: 40px;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 20px;
  color: #215974;
  border: 1px solid #215974;
  box-shadow: 0px 0px 2px;
  border-radius: 5px;
  background-color: #6994a8;
} */
