* {
  padding: 0px;
  margin: 0px;
}
body {
  height: 100%;
  width: 100%;
  background-color: #555a69;
}
header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 1;
}
header img {
  height: 50px;
  width: 50px;
  padding: 5px;
  border-radius: 50%;
  margin-left: 80px;
  border: 2px solid #dfe0e5;
  box-shadow: 0px 0px 20px gold;
}
header nav ul {
  list-style-type: none;
  display: flex;
}
header nav ul li a {
  text-decoration: none;
  text-transform: capitalize;
  margin-right: 40px;
  color: #72798a;
  font-size: 22px;
}
header nav ul li a:hover,header nav ul li a:active{
  color: #dfe0e5;
  display: inline-block;
  box-shadow: 2px 2px 6px gold;
  
}

header .search {
  height: 25px;
  background-color: #72798a;
  border-radius: 5px;
  margin-right: 80px;
}
header .search:hover{
  border: 2px solid gold;
  transition: 0.1s linear;
}
header .search input {
  margin-left: 5px;
  height: 25px;
  width: 200px;
  border: none;
  outline: none;
  padding-left: 10px;
  background-color: #72798a;
  color: #dfe0e5;
}
header .search button {
  background-color: #72798a;
  border: none;
  margin-right: 5px;
  cursor: pointer;
}
nav #check {
  display: none;
}
nav .checkbtn {
  font-size: 30px;
  color: #dfe0e5;
  display: none;
}

.image {
  width: 100%;
  height: 100%;
 
  display: flex;
  justify-content: center;
  position: absolute;
  top: 100px;
  z-index: -3;
  filter: drop-shadow(10px 10px 60px #dfe0e5);
}
.image img {
  height: 80vh;
  filter: grayscale(0.8);
  margin-left: 200px;

}

.home {
  width: 100%;
  position: relative;
  top: 100px;
  display: flex;
  justify-content: space-between;
}
.home .left {
  margin-left: 80px;
  margin-top: 230px;
}
.home .left h1 {
  font-size: 2rem;
  text-transform: capitalize;
  color: #dfe0e5;
}
.home .left h1 span {
  color: gold;
}

.home .left p {
  margin-top: 10px;
  text-transform: capitalize;
  font-size: 1.5rem;
  color: #dfe0e5;
  font-weight: 500;
}

.home .left a button {
  margin-top: 20px;
  height: 30px;
  width: 150px;
  cursor: pointer;
  font-size: 20px;
  text-transform: capitalize;
  background-color: #555a69;
  border: none;
  color: gold;
  border: 2px solid gold;
  border-radius: 5px;
  filter: drop-shadow(10px 10px 20px #dfe0e5);
  animation: hire-me 3s linear backwards infinite;
}

@keyframes hire-me {
  0%{
    transform: scale(1);
    
  }
  100%{
    transform: scale(1.2);
    
  }
}
.home .right {
  width: 40px;
  margin-top: 100px;
  margin-right: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home .right ul {
  list-style-type: none;
}
.home .right span {
  display: inline-block;
  height: 150px;
  width: 10px;
  background-color: gold;
  margin-left: 10px;
  border-radius: 5px;
}
.home .right a {
  display: block;
  height: 40px;
  width: 40px;
  font-size: 25px;
  color: #72798a;
  text-align: center;
  margin-top: 20px;
  border-radius: 50%;
  line-height: 40px;
  background-color: #dfe0e5;
}
.home .right a:hover{
  transform: scale(1.2);
  box-shadow: 2px 2px 6px gold,-2px -2px 6px gold;
  transition: 0.2s linear;
}
.about{
  width: 100%;
  position: relative;
  top: 270px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about h2{
  font-size: 35px;
  text-transform: capitalize;
  color: #dfe0e5;
  text-decoration: underline solid gold;

}
.about p{
  margin-top: 10px;
  padding: 0px 80px;
  text-align: justify;
  color: #dfe0e5;
  font-size: 1.2rem;
}


.skills{
  position: relative;
  top: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.skills .heading{
  font-size: 35px;
  text-transform: capitalize;
  color: #dfe0e5;
  text-decoration: underline solid gold;
  text-align: center;
  
}

.skills .container{
  display: flex;
  flex-wrap: wrap;
  gap: 80px;
  
  align-items: center;
  justify-content: center;
  margin: 20px 20px;
  
}
.skills .container .skill-card{
  height: 300px;
  width: 300px;
  background-color: #72798a;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.skills .container .skill-card:hover{
  background-color: gold;
  box-shadow: 0px 0px 10px #dfe0e5;
  transition: 0.3s linear;
  
}

.skills .container .skill-card img{
  height: 150px;
  width: 150px;
}
.skills .container .skill-card p{
  text-transform: uppercase;
  margin-top: 20px;
  font-size: 25px;
  color: #555a69;
}










.contact{
  width: 100%;
  position: relative;
  top: 350px;
  z-index: -3;
  text-align: center;
  padding-bottom: 50px;
  
}
.contact h2{
  font-size: 35px;
  text-transform: capitalize;
  color: #dfe0e5;
  text-decoration: underline solid gold;
  text-align: center;
  
  
}

.contact div{
  margin-top: 50px;
  display: inline-block;
  margin-right: 40px;
  border: 2px solid gold;
  border-radius: 10px;
}
.contact div a{
  color:#72798a;
  padding: 10px;
  display: block;
  font-size: 20px;
  text-decoration: none;
}
.contact div a:hover{
   color: #dfe0e5;
   
}














@media screen and (min-width: 320px) and (max-width: 426px) {
  * {
    padding: 0px;
    margin: 0px;
  }
  body {
    height: 100%;
    width: 100%;
    background-color: #555a69;
  }
  header {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  header img {
    height: 50px;
    width: 50px;
    padding: 5px;
    border-radius: 50%;
    border: 2px solid #dfe0e5;
    box-shadow: 0px 0px 20px gold;
    margin: 0px;
    margin-left: 30%;
  }
  header nav ul {
    position: absolute;
    top: 80px;
    left: -100%;
    height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.5s ease;
    background-color: gold;
    z-index: 120;
  }
  header nav ul li {
    display: block;
    margin-top: 35px;
  }
  header nav ul li a {
    color: #72798a;
    font-size: 20px;
  }

  header .search {
    display: none;
  }

  nav .checkbtn {
    display: block;
    margin-right: 40px;
  }
  nav #check:checked ~ ul {
    left: 0;
  }
  .image {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 100px;
    left: 0px;
  }
  .image img {
    height: 200px;
    margin: 0;
    filter: grayscale(100%)
  }
  .home {
    width: 100%;
    position: relative;
    top: 120px;
    left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: -3;
  }
  .home .left {
    width: 100%;
    margin: 0;
    margin-top: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .home .left h1{
    font-size: 25px;
    text-transform: capitalize;
    color: #dfe0e5;
  }
  .home .left h1 span {
    color: gold;
  }

  .home .left p{
    margin-top: 10px;
    text-transform: capitalize;
    font-size: 20px;
    color: #dfe0e5;
    font-weight: 500;
  }

  .home .left a button {
    margin-top: 20px;
    height: 30px;
    width: 150px;
    cursor: pointer;
    font-size: 20px;
    text-transform: capitalize;
    background-color: #555a69;
    border: none;
    color: gold;
    border: 2px solid gold;
    border-radius: 5px;
    filter: drop-shadow(10px 10px 20px #dfe0e5);
  }
  .home .right {
    margin: 0px;
    margin-top: 20px;
    
  }
  .home .right ul  {
    list-style-type: square;
    margin: 0px;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    
    
  }
  .home .right ul li {
    display: block;
  }
  .home .right ul li span {
    display: none;
  }
  .home .right ul a {
    margin: 0px;
    margin-right: 20px;
    
   
  }
  .home .right ul li a:hover,.home .right ul li a:active{
    background-color: red;
    display: inline-block;
    transform: scale(1.5);
  }
  
  .about{
    width: 100%;
    position: relative;
    top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: -2;
  }
  .about h2{
    font-size: 30px;
    text-transform: capitalize;
    color: #dfe0e5;
    text-decoration: underline solid gold;
  
  }
  
  .about p{
    margin-top: 10px;
    padding: 0px 20px;
    text-align: justify;
    color: #dfe0e5;
    font-size: 1.2rem;
  }

  .contact{
    width: 100%;
    position: relative;
    top: 250px;
    z-index: -3;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    padding: 0px;
    padding-bottom: 50px;
  
  }
  .contact h2{
    font-size: 35px;
    text-transform: capitalize;
    color: #dfe0e5;
    text-decoration: underline solid gold;
    text-align: center;
    
    
  }
  .contact div{
    margin-top: 20px;
    display: inline-block;
    margin-right: 40px;
    border: 2px solid gold;
    border-radius: 10px;
    
  }
  .contact div a{
    color:#72798a;
    padding: 10px;
    display: block;
    font-size: 20px;
    text-decoration: none;
    
  
  
  }
  .skills{
    position: relative;
    top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .skills .heading{
    font-size: 35px;
    text-transform: capitalize;
    color: #dfe0e5;
    text-decoration: underline solid gold;
    text-align: center;
    
  }
  
  .skills .container{
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
      
    align-items: center;
    justify-content: center;
    margin: 20px 0px;
    
  }
  .skills .container .skill-card{
    height: 300px;
    width: 300px;
    background-color: #72798a;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
  }
  .skills .container .skill-card:hover{
    background-color: gold;
    transition: 0.3s linear;
  }
  
  .skills .container .skill-card img{
    
    height: 150px;
    width: 150px;
  }
  .skills .container .skill-card p{
    text-transform: uppercase;
    font-size: 25px;
    margin-top: 20px;
  }

}

@media screen and (min-width: 426px) and (max-width: 768px) {
  * {
    padding: 0px;
    margin: 0px;
  }
  body {
    height: 100%;
    width: 100%;
    background-color: #555a69;
  }
  header {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header img {
    height: 50px;
    width: 50px;
    padding: 5px;
    border-radius: 50%;
    margin-left: 30px;
    border: 2px solid #dfe0e5;
    box-shadow: 0px 0px 20px gold;
  }
  header nav ul {
    margin-left: 80px;
    list-style-type: none;
    display: flex;
  }
  header nav ul li a {
    text-decoration: none;
    text-transform: capitalize;
    margin-right: 20px;
    color: #72798a;
  }
  header .search {
    height: 25px;
    background-color: #72798a;
    border-radius: 5px;
    margin: 0px;
    margin-right: 10px;
  }
  .image {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 100px;
    z-index: -3;
  }
  .image img {
    height: 500px;
    /* filter: drop-shadow(10px 10px 60px #dfe0e5); */
    margin: 0;
   
    
  }
  .home {
    width: 100%;
    position: relative;
    top: 400px;
    left: 0px;
    display: flex;
    flex-direction: column;
    z-index: -3;
  }
  .home .left {
    width: 100%;
    margin: 0;
    margin-top: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .home .left h1 {
    font-size: 30px;
    text-transform: capitalize;
    color: #dfe0e5;
  }
  .home .left h1 span {
    color: gold;
  }

  .home .left p {
    margin-top: 10px;
    text-transform: capitalize;
    font-size: 25px;
    color: #dfe0e5;
    font-weight: 500;
  }

  .home .left a button {
    margin-top: 20px;
    height: 30px;
    width: 150px;
    cursor: pointer;
    font-size: 20px;
    text-transform: capitalize;
    background-color: #555a69;
    border: none;
    color: gold;
    border: 2px solid gold;
    border-radius: 5px;
    filter: drop-shadow(10px 10px 20px #dfe0e5);
  }
  .home .right {
    width: 100%;
    margin: 20px 0px;
    justify-content: center;
  }
  .home .right ul {
    display: flex;
  }
  .home .right ul li span {
    display: none;
  }
  .home .right ul li {
    margin-right: 20px;
  }
  .about{
    width: 100%;
    position: relative;
    top: 420px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .about h2{
    font-size: 35px;
    text-transform: capitalize;
    color: #dfe0e5;
    text-decoration: underline solid gold;
  
  }
  .about p{
    margin-top: 10px;
    padding: 0px 20px;
    text-align: justify;
    color: #dfe0e5;
    font-size: 1.2rem;
  }
 
  .contact{
    width: 100%;
    position: relative;
    top: 470px;
    z-index: -3;
    text-align: center;
    padding-bottom: 50px;
    
  
  }
  .contact h2{
    font-size: 35px;
    text-transform: capitalize;
    color: #dfe0e5;
    text-decoration: underline solid gold;
    text-align: center;
    
  }
  .contact div{
    margin-top: 50px;
    display: inline-block;
    margin-right: 40px;
    border: 2px solid gold;
    border-radius: 10px;
    
  }
  .contact div a{
    color:#72798a;
    padding: 10px;
    display: block;
    font-size: 20px;
    text-decoration: none;
    
  
  
  }
  
  
}
